%heboo-400 {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

%berkshireSwash-400 {
  font-family: "Berkshire Swash", cursive;
  font-weight: 400;
}

%oswald-400 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

%oswald-500 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

%oswald-700 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

%amita-700 {
  font-family: "Amita", cursive;
  font-weight: 700;
}
