@font-face {
  font-family: 'Heebo';
  src: url('../../assets/fonts/Heebo-Regular/Heebo-Regular.eot');
  src: url('../../assets/fonts/Heebo-Regular/Heebo-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Heebo-Regular/Heebo-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Heebo-Regular/Heebo-Regular.woff') format('woff'),
  url('../../assets/fonts/Heebo-Regular/Heebo-Regular.ttf') format('truetype'),
  url('../../assets/fonts/Heebo-Regular/Heebo-Regular.svg#Heebo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkshire Swash';
  src: url('../../assets/fonts/BerkshireSwash-Regular/BerkshireSwash-Regular.eot');
  src: url('../../assets/fonts/BerkshireSwash-Regular/BerkshireSwash-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/BerkshireSwash-Regular/BerkshireSwash-Regular.woff2') format('woff2'),
  url('../../assets/fonts/BerkshireSwash-Regular/BerkshireSwash-Regular.woff') format('woff'),
  url('../../assets/fonts/BerkshireSwash-Regular/BerkshireSwash-Regular.ttf') format('truetype'),
  url('../../assets/fonts/BerkshireSwash-Regular/BerkshireSwash-Regular.svg#BerkshireSwash-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald-Regular/Oswald-Regular.eot');
  src: url('../../assets/fonts/Oswald-Regular/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Oswald-Regular/Oswald-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Oswald-Regular/Oswald-Regular.woff') format('woff'),
  url('../../assets/fonts/Oswald-Regular/Oswald-Regular.ttf') format('truetype'),
  url('../../assets/fonts/Oswald-Regular/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald-Medium/Oswald-Medium.eot');
  src: url('../../assets/fonts/Oswald-Medium/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Oswald-Medium/Oswald-Medium.woff2') format('woff2'),
  url('../../assets/fonts/Oswald-Medium/Oswald-Medium.woff') format('woff'),
  url('../../assets/fonts/Oswald-Medium/Oswald-Medium.ttf') format('truetype'),
  url('../../assets/fonts/Oswald-Medium/Oswald-Medium.svg#Oswald-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../assets/fonts/Oswald-Bold/Oswald-Bold.eot');
  src: url('../../assets/fonts/Oswald-Bold/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Oswald-Bold/Oswald-Bold.woff2') format('woff2'),
  url('../../assets/fonts/Oswald-Bold/Oswald-Bold.woff') format('woff'),
  url('../../assets/fonts/Oswald-Bold/Oswald-Bold.ttf') format('truetype'),
  url('../../assets/fonts/Oswald-Bold/Oswald-Bold.svg#Oswald-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amita';
  src: url('../../assets/fonts/Amita-Bold/Amita-Bold.eot');
  src: url('../../assets/fonts/Amita-Bold/Amita-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Amita-Bold/Amita-Bold.woff2') format('woff2'),
  url('../../assets/fonts/Amita-Bold/Amita-Bold.woff') format('woff'),
  url('../../assets/fonts/Amita-Bold/Amita-Bold.ttf') format('truetype'),
  url('../../assets/fonts/Amita-Bold/Amita-Bold.svg#Amita-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}