.contacts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: calc(100vh - 100px);
  height: 100%;
  padding-top: 100px;
  padding-bottom: 200px;
  margin: auto;
  background-color: #2a2a2a;

  &__container {
    display: grid;
    width: 100%;
    max-width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    gap: 30px;
  }

  &__card {
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: #202020;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #434343;
  }

  &__image-box {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  &__image {
    color: black;
    width: 45px;
    height: 45px;
  }

  &__title {
    font-family: Berkshire Swash, cursive;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  &__box:last-of-type {
    margin-bottom: 0;
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
  }

  &__text {
    width: 90%;
    color: #999;
    line-height: 1.7em;
    word-break: break-all;
  }

  @media all and (max-width: 1050px) {
    padding-top: 80px;
    padding-bottom: 120px;

    &__container {
      display: grid;
      width: 100%;
      max-width: 650px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-items: center;
      align-items: center;
      gap: 30px;
    }
  }

  @media all and (max-width: 675px) {
    padding-top: 80px;
    padding-bottom: 120px;

    &__container {
      display: grid;
      width: 100%;
      max-width: 650px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      justify-items: center;
      align-items: center;
      gap: 30px;
    }
  }

  @media all and (max-width: 425px) {
    &__card {
      width: 300px;
      height: 460px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      padding: 20px;
      background: #202020;
    }
  }
}
